@model DisplayTemplates.Models.User

@{

    var allRoles = Model.Roles != null ? Model.Roles.Aggregate("", (current, role) => current + (role.Name + ", ")) : "";
    allRoles = allRoles.Contains(",") ? allRoles.Remove(allRoles.LastIndexOf(",")) : allRoles;
}
<div style="display: table-row">
    <h3>@Model.FirstName @Model.MiddleInitial @Model.LastName (ID @Model.ID)</h3>
    <dl class="inline">
        <dt><strong>Date of Birth</strong></dt>
        <dd>@Html.DisplayFor(x => x.DateOfBirth)</dd>
        <dt><strong>Is Admin</strong></dt>
        <dd>@(Model.IsAdmin ? "YES": "NO")</dd>
        <dt><strong>Username</strong></dt>
        <dd>@Model.Username</dd>
        <dt>Roles</dt>
        <dd>@(string.IsNullOrWhiteSpace(allRoles) ? "NONE" : allRoles )</dd>
        @foreach (var address in Model.Addresses)
        {
            <dt>Address</dt>
                <dd>@Html.DisplayFor(x => address)</dd> //Display Template for Address
        }
    </dl>
</div>

